APP_NAME="Shrishti Manufacturing"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://manufacturing-unit.shrishtidairyfarm.com

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=shrishti_dairy
DB_USERNAME=shrishti_user
DB_PASSWORD=change_this_db_password

SESSION_DRIVER=file
QUEUE_CONNECTION=sync
CACHE_STORE=file

ADMIN_PASSWORD=change_admin_password
ADMIN_API_TOKEN=change_this_long_random_token
PUBLIC_PAGE_URL=https://manufacturing-unit.shrishtidairyfarm.com
